name: ITTools Sync 镜像构建与部署

on:
  workflow_dispatch:

env:
  IMAGE_NAME: ghcr.io/cuhksz-itso-dev/ittools-sync
  REGISTRY: ghcr.io

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          cache: true
          cache-dependency-path: ittools_sync/go.sum
          go-version: "1.25.0"
      
      - name: Build
        run: CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o ittools_sync -ldflags="-w -s" main.go
        working-directory: ittools_sync

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ittools_sync
          path: ittools_sync/ittools_sync

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=raw,value={{date 'YYYYMMDD-HHmm'}}
          labels: |
            org.opencontainers.image.description=ITTools AD User Sync Service
            org.opencontainers.image.created={{commit_date 'YYYY-MM-DDTHH:mm:ss.SSS[Z]'}}
            org.opencontainers.image.revision={{ sha }}
            org.opencontainers.image.title=ITTools Sync

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ittools_sync
          file: ittools_sync/Dockerfile
          platforms: linux/amd64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
